* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.tac {
  text-align: center;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  margin-left: 41px;
}

.promo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__left {
  width: 50%;
}

.promo__right {
  width: 50%;
}

.promo__img {
  width: 100%;
}

.promo__content {
  margin-top: 30%;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.promo__text {
  color: #f16d7f;
}

.promo__h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sale__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sale__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.sale__img {
  width: 100%;
}

.sale__item:not(:last-child) {
  margin-right: 30px;
}

.fetured-items__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.product {
  width: 360px;
  background: #F8F8F8;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.product:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product:hover .product__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__content {
  padding: 24px 16px 20px;
}

.product__name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 18px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__add {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding-left: 14px;
  padding-right: 16px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__add:hover {
  color: black;
  background-color: #fff;
}

.product__add:hover .product__cart path {
  fill: black;
}

.product__cart {
  margin-right: 11px;
}

.product__button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px;
  outline: 1px solid #F26376;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.product__button:hover {
  color: #fff;
  background-color: #F26376;
}

.product__button__box {
  margin-top: 64px;
  text-align: center;
}

.footer__top {
  height: 341px;
  background: #222224;
  margin-top: 108px;
}

.footer__top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  padding-top: 103px;
  padding-bottom: 94px;
}

.footer__top__content__box {
  width: 320px;
}

.footer__top__content__heading {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding: 26px 0 16px;
}

.footer__top__content__text {
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.button-back {
  background-color: #f16d7f;
}

.button-back:hover {
  background-color: #ff7e90;
}

.subscribe {
  height: 448px;
  background: url("../img/subscribe-back.png"), url("../img/subscribe.jpg") no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__figure {
  width: 360px;
  text-align: center;
}

.subscribe__consultations__heading {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.subscribe__content {
  text-align: center;
}

.subscribe__heading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  padding: 32px;
}

.subscribe__field {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  padding: 15px 64px 15px 22px;
  border: none;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border: none;
}

.footer__bottom {
  background: #222224;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom__intersent {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom .icon {
  margin: 7px;
}

.footer__bottom .icon__back {
  background: #FFFFFF;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__bottom .icon__badge {
  margin: auto;
}

.footer__bottom .icon:hover .icon__back {
  background-color: #f16d7f;
}

.footer__bottom .icon:hover .icon__badge path {
  fill: white;
}

.jello-horizontal:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
  }
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  30% {
  }
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  40% {
  }
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  50% {
  }
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  65% {
  }
  -webkit-transform: scale3d(0.95, 1.05, 1);
  transform: scale3d(0.95, 1.05, 1);
  75% {
  }
  -webkit-transform: scale3d(1.05, 0.95, 1);
  transform: scale3d(1.05, 0.95, 1);
  100% {
  }
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.page-name {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-name__heading {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.page-name__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.page-name__li:last-child .page-name__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.page-name__li:not(:last-child)::after {
  content: '/';
  padding-left: 8px;
  padding-right: 8px;
}

.page-name__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.page-name__link:hover {
  color: #f16d7f;
}

.sort {
  padding-top: 39px;
  padding-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter {
  position: relative;
  height: 48px;
  width: 360px;
}

.filter__name {
  outline: none;
}

.filter__main {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  padding: 13px 16px 16px;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter__main[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border: 1px solid #EBEBEB;
}

.filter__main[open] .filter__name {
  color: #f16d7f;
}

.filter__main[open] svg path {
  fill: #f16d7f;
}

.filter__sort {
  margin-top: 16px;
}

.filter__sort[open] .filter__category {
  color: #f16d7f;
}

.filter__category {
  border-left: 5px solid #f16d7f;
}

.filter__category-name {
  display: block;
  height: 37px;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  line-height: 37px;
}

.filter__content-ul {
  list-style-type: none;
  padding-left: 16px;
  margin-top: 24px;
}

.filter__content-links {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
  display: block;
}

.filter__content-links:hover {
  color: #f16d7f;
}

.param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.param__sort {
  position: relative;
  height: 48px;
}

.param__category {
  background-color: #fff;
  padding: 13px 16px 16px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.param__category-name {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.param__content-ul {
  position: absolute;
  z-index: 2;
  width: 82px;
  list-style-type: none;
  padding: 9px 9px 1px 9px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.param__content-links {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
  display: block;
}

.param__content-links:hover {
  color: #f16d7f;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__form {
  width: 360px;
  margin-right: 128px;
}

.registration__form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.registration__form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form__input {
  width: 360px;
  top: 22.91%;
  bottom: 74%;
  border: 1px solid #A4A4A4;
  padding: 12px;
  margin-bottom: 20px;
}

.registration__form__pol {
  margin-top: 14px;
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration__form__button {
  margin-top: 39px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 29px;
  background-color: #f16d7f;
  border: none;
}

.registration__form__button:hover {
  background-color: #ff7e90;
}

.registration__perks {
  width: 720px;
}

.registration__perks__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__perks__text {
  padding-top: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__perks__ul {
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 21px;
}

.perk {
  padding-bottom: 16px;
}

.shopping {
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__product_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.shopping__product__img {
  height: 306px;
}

.shopping__product__delete {
  position: absolute;
  padding-left: 612px;
  padding-top: 28px;
}

.shopping__product__delete__button {
  background-color: white;
  border: none;
}

.shopping__product__delete__button:hover path {
  fill: #f16d7f;
}

.shopping__product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.shopping__product__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.shopping__product__button:hover {
  color: #FFFFFF;
  background-color: #A4A4A4;
}

.shopping .product__info {
  padding-left: 31px;
}

.shopping .product__info__heading {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 200px;
  padding: 22px 0 42px 0;
}

.shopping .product__info__text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.shopping .product__info__price {
  font-size: 22px;
  line-height: 26px;
  color: #f16d7f;
}

.shopping .product__info__quantity {
  padding: 1px 16px;
  border: 1px solid #EAEAEA;
}

.shopping__information {
  width: 360px;
}

.shopping__adress__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 16px;
  padding-bottom: 20px;
}

.shopping__adress__input {
  width: 360px;
  padding: 14px 16px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shopping__adress__button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  padding: 10px 14px;
  color: #4A4A4A;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  margin-top: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.shopping__adress__button:hover {
  color: #FFFFFF;
  background-color: #A4A4A4;
}

.shopping__sum {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  margin-top: 57px;
  text-align: right;
}

.shopping__sum__text {
  padding: 39px 34px 12px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shopping__sum__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 21px;
  padding-right: 37px;
}

.shopping__sum__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.shopping__sum__button {
  margin-top: 17px;
  padding: 16px 43px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #f16d7f;
  border: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.shopping__sum__button:hover {
  background-color: #ff7e90;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.button__box {
  text-align: center;
}

hr {
  width: 275px;
  color: #E2E2E2;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */